# Basic Dependencies
appdirs >= 1.4.4

# Client Dependencies
python-telegram-bot >= 12.4.2
gtts>=2.1.1
pyaudio>=0.2.11
# FOR WINDOWS pyaudio: pip install pipwin; pipwin install pyaudio
# FOR OSX portaudio: brew install portaudio; pip install pyaudio
SpeechRecognition
pyttsx3
playsound>=1.2.2
pvporcupine>=1.8.6

# Skill Dependencies
wikipedia>=1.4.0
caldav >= 0.6.2
icalendar >= 4.0.4
requests>=2.24.0
mpris2
dbus-python
