# Client Dependencies
python-telegram-bot >= 12.4.2
gtts
pyaudio
# FOR WINDOWS pyaudio: pip install pipwin; pipwin install pyaudio
# FOR OSX portaudio: brew install portaudio; pip install pyaudio
flask >= 1.0.2
flask-jsonpify
flask-restful
SpeechRecognition
pyttsx3
playsound
pvporcupine

# Skill Dependencies
wikipedia
caldav >= 0.6.2
icalendar >= 4.0.4