python-telegram-bot
gtts
wikipedia
caldav
icalendar
pyaudio
flask
flask-jsonpify
flask-restful
SpeechRecognition
pyttsx3

;FOR WINDOWS pyaudio: pip install pipwin; pipwin install pyaudio
;FOR OSX portaudio: brew install portaudio; pip install pyaudio